# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
dist/
*.egg-info/

# Databases
*.db
*.db-wal
*.db-shm

# Flet
.flet/
assets/lottie/*.json
channels_cache.json

# IDEs
.vscode/
.idea/
/data/
/temp/
scratch/
